<style>
    .my-bigger-modal {
        max-width: 700px; /* Adjust this to your desired width */
    }
</style>
<div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered my-bigger-modal">
        <div class="modal-content rounded" id="modalContent">



        </div>
    </div>
</div>
